{% extends "base.html" %}


{% block title %}Purchase{% endblock %}
{% block page_title %}Purchase{% endblock %}

{% block content %}

<div class="col-md-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Oats</td>
                <td>500g</td>
            </tr>
            <tr>
                <td>Coffee</td>
                <td>200g</td>
            </tr>
            <tr>
                <td>Fusilli</td>
                <td>1000g</td>
            </tr>
        </tbody>
    </table>
    <a href="/additem" class="btn btn-primary btn-block" style="color: white;">
        Add Item <i class="fas fa-plus-circle"></i>    
    </a>
</div>

{% endblock %}